body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  position: relative;
  bottom: 0;
  margin-top: 10em;
  padding: 2em;
  color: #555;
}

input {
    margin:0;
    padding: 0;
}

span#champ_name {
  display: inline-block;
  width: 100%;
  margin: auto;
  font-size: 2em;
  text-align: center;
}

.white_border {
  text-shadow: 2px 2px 2px white, -2px -2px 2px white, -2px 2px 2px white, 2px -2px 2px white;
}

.white_background {
  border-radius: 8px 8px 0 0;
  background-color: white;
  padding: 12px;
} 

#chart_title {
  display: block;
  width: 100%;
  margin: auto;
  font-size: 1.4em;
  text-align: center;
}

#search-bar {
  margin-top: 2em;
}

ul {
  list-style-type: none;
}

#canvas_holder {
  text-align: center;
  width: 100%;
  background-color: white;
}

canvas {
  margin: auto;
}

#chart_legend {
  background-color: white;
  border-radius: 0 0 8px 8px;
  padding-bottom: 2em;
}

.line-legend span {
  display: inline-block;
  width: 20px;
  height: .8em;
  padding:.1em;
  border: 1px solid black;
  border-radius: 2px;
  margin-right: 1em;
}